body, html, .h-custom, .container, .row, .col, section {
    background-color: white !important;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.h-custom {
    height: 100vh;
}

@media (min-width: 1025px) {
    .h-custom {
      height: 100vh;
    }
}
