.bookTable {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.bookTable td, .bookTable th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.bookTable a {
    text-decoration: none;
}